<a href="https://colab.research.google.com/github/vish109/Machine_Learning/blob/main/Breast_Cancer/Breast_Cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [89]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [90]:
df = pd.read_csv('gdrive/MyDrive/Datasets/Breast_Cancer/data.csv')

In [91]:
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [92]:
#preprocessing
df.dropna(inplace=True,axis=1) #drop all NaNs
df.drop('id',axis=1,inplace=True) #drop id column as it is of no use
labels = df['diagnosis'] #store labels in a different dataframe
df.drop('diagnosis',axis=1,inplace=True) #drop labels columns from the original dataframe
df.head()

   radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
0        17.99         10.38  ...          0.4601                  0.11890
1        20.57         17.77  ...          0.2750                  0.08902
2        19.69         21.25  ...          0.3613                  0.08758
3        11.42         20.38  ...          0.6638                  0.17300
4        20.29         14.34  ...          0.2364                  0.07678

[5 rows x 30 columns]

In [93]:
#convert the dataframes into numpy arrays
data = df.to_numpy()
labels = labels.to_numpy()
for i in range(len(labels)):
  if(labels[i]=='M'):
    labels[i] = 1
  else:
    labels[i] = 0

In [94]:
#split the data into train and test sets
X_train,X_test,Y_train,Y_test = train_test_split(data,labels,test_size=0.2)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train = X_train.T
X_test = X_test.T
Y_train = Y_train.reshape(1,455)
Y_test = Y_test.reshape(1,114)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(30, 455)
(30, 114)
(1, 455)
(1, 114)

In [95]:
W = np.random.randn(30,1)*0.01
b = 0

In [96]:
#Hyperparameters
num_epochs = 5000
lr = 0.001

In [97]:
def Cost(y,y_hat):
  return -(np.multiply(y,np.log(y_hat))+np.multiply(1-y,np.log(1-y_hat)))

In [98]:
def sigmoid(z):
  z = np.array(z,dtype=np.float32)
  return 1/(1+np.exp(-z))

In [ ]:
cost = []
iter = []
#train loop
for i in range(num_epochs):
  z = np.dot(W.T,X_train)+b
  # print(z)
  a = sigmoid(z)
  c = np.sum(Cost(Y_train,a))
  cost.append(c)
  iter.append(i)
  dz = a-Y_train
  dw = (1/455)*(np.dot(X_train,dz.T))
  db = (1/455)*(np.sum(dz))

  W = W-lr*dw
  b = b-lr*db

In [100]:
def check_accuracy(x,y):
  count = 0
  total = 0
  y_hat = sigmoid(np.dot(W.T,x))
  predictions = np.array([1 if(y_hat[0][i]>=0.5) else 0 for i in range(y_hat.shape[1])])
  for i in range(y_hat.shape[1]):
    if(y[0][i]==predictions[i]):
      count+=1
    total+=1

  return count/total

In [101]:
print(check_accuracy(X_train,Y_train))
print(check_accuracy(X_test,Y_test))

0.9692307692307692
0.9649122807017544