<a href="https://colab.research.google.com/github/vish109/Machine_Learning/blob/main/Heart_Attack/Heart_Attack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [186]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [187]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [188]:
df = pd.read_csv('gdrive/MyDrive/Datasets/Heart_Attack/heart.csv')
df.head()

   age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  output
0   63    1   3     145   233    1  ...     0      2.3    0    0      1       1
1   37    1   2     130   250    0  ...     0      3.5    0    0      2       1
2   41    0   1     130   204    0  ...     0      1.4    2    0      2       1
3   56    1   1     120   236    0  ...     0      0.8    2    0      2       1
4   57    0   0     120   354    0  ...     1      0.6    2    0      2       1

[5 rows x 14 columns]

In [189]:
o2_sat = pd.read_csv('gdrive/MyDrive/Datasets/Heart_Attack/o2Saturation.csv')
o2_sat.head()

   98.6
0  98.6
1  98.6
2  98.6
3  98.1
4  97.5

In [190]:
df['o2_sat'] = o2_sat
df.head()

   age  sex  cp  trtbps  chol  fbs  ...  oldpeak  slp  caa  thall  output  o2_sat
0   63    1   3     145   233    1  ...      2.3    0    0      1       1    98.6
1   37    1   2     130   250    0  ...      3.5    0    0      2       1    98.6
2   41    0   1     130   204    0  ...      1.4    2    0      2       1    98.6
3   56    1   1     120   236    0  ...      0.8    2    0      2       1    98.1
4   57    0   0     120   354    0  ...      0.6    2    0      2       1    97.5

[5 rows x 15 columns]

In [191]:
labels = df['output']
df.drop('output',axis=1,inplace=True)
df.dropna(axis=1,inplace=True)
df.head()

   age  sex  cp  trtbps  chol  fbs  ...  exng  oldpeak  slp  caa  thall  o2_sat
0   63    1   3     145   233    1  ...     0      2.3    0    0      1    98.6
1   37    1   2     130   250    0  ...     0      3.5    0    0      2    98.6
2   41    0   1     130   204    0  ...     0      1.4    2    0      2    98.6
3   56    1   1     120   236    0  ...     0      0.8    2    0      2    98.1
4   57    0   0     120   354    0  ...     1      0.6    2    0      2    97.5

[5 rows x 14 columns]

In [192]:
data = df.to_numpy()
labels = labels.to_numpy()
x_train,x_test,y_train,y_test = train_test_split(data,labels,test_size=0.2)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(242, 14) (61, 14) (242,) (61,)

In [193]:
Model = LogisticRegression(max_iter=3000)
Model.fit(X_train.T,Y_train.T)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=3000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [194]:
Model.score(X_test.T,Y_test.T)

0.8524590163934426